/* API font reference key 
? font-family: 'Montserrat', sans-serif;    [ Header Title ]
? font-family: 'Cinzel', serif;    [main paragraph usage]
? font-family: 'Raleway', sans-serif;   [ Nav-Bar]
*/

/* ? Outside stylesheet and Font API imports  */
@import url('https://fonts.googleapis.com/css?family=Cinzel:700|Montserrat:600|Raleway:500,700');

/* ! General Rulesets */

body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/knightFight.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ! Header Rulesets */

.title-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #459fff80;
  border: #4577ff4f solid 1.5rem;
  border-radius: 20%;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.header-block {
  display: flex;
  flex-direction: column;
}

.header-box {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.header-box h1 {
  display: block;
  font-family: 'Montserrat', sans-serif;
  color: #c0c0c0;
  font-size: 6rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: #c0c0c0;
  font-size: 1.75rem;
  cursor: pointer;
}

.navbar a:hover {
  color: blue;
}
/* ! Dropdown menu */

.dropdown-menu {
  display: none;
  position: absolute;
  width: 10rem;
  background-color: #459ffff1;
  border: #1a77da solid 2px;
}
.dropdown-menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  width: 100%;
}

.dropdown-menu li {
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem;
  border: #1a77da solid 2px;
}

.dropdown-menu li:hover {
  color: blue;
}

/* ! Introduction Rulesets */
.bio {
  display: flex;
  flex-direction: column;
}

.bio h1 {
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 0rem;
  margin-left: 17rem;
  margin-right: 17rem;
  font-family: 'Montserrat', sans-serif;
  color: #c0c0c0;
  font-size: 2rem;
  text-transform: capitalize;
  border-bottom: double #c0c0c0 0.75rem;
}

.bio p {
  text-align: center;
  padding: 1rem 7rem;
  font-family: 'Cinzel', serif;
  color: #c0c0c0;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

/* ! Main Page Rulesets */

table.center {
  margin: 3em auto;
  background-color: #4561ff50;
  border: 10px solid rgba(24, 23, 23, 0.836);
  border-radius: 5%;
}

th {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  color: #c0c0c0;
  padding: 2rem 0rem;
  border-bottom: dotted rgb(22, 21, 21) 5px;
}

td {
  width: auto;
  height: 250px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Cinzel', serif;
  font-size: 1.2rem;
  color: #c0c0c0;
  padding: 1px;
}

td p {
  border-bottom: double 8px rgb(22, 21, 21);
}

.first-row {
  padding-top: 2rem;
}

tr > td {
  padding-bottom: 3rem;
}

td.image-container {
  width: 250px;
  height: 250px;
}

td.review {
  padding-left: 4rem;
  padding-right: 4rem;
}

td img {
  max-height: 100%;
  max-width: 30rem;
  border-radius: 70%;
}

#smaller-img {
  max-height: 100%;
  width: 13rem;
}

/* ! Landing Page Footer  */

footer {
  background-color: #459fff80;
  box-shadow: 0 50vh 0 50vh #459fff80;
  height: 8vh;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 1.2rem;
  padding-top: 0.2rem;
  color: #000000f6;
}

/* ? Media Breakpoints 1083 and above we're good */

@media only screen and (max-device-width: 1082px) {
  .bio h1 {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media only screen and (max-device-width: 950px) {
  .header-box h1 {
    font-size: 4rem;
  }

  .navbar a {
    font-size: 1.5rem;
  }

  th {
    font-size: 1.2rem;
  }
}

@media only screen and (max-device-width: 859px) {
  .header-box h1 {
    font-size: 3.4rem;
  }

  .navbar a {
    font-size: 1.2rem;
  }

  .flex-container li {
    font-size: 1rem;
  }

  .review,
  .bio p,
  .flex-container li {
    font-size: 0.9rem;
  }

  .bio h1 {
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 1.4rem;
  }
}

@media only screen and (max-device-width: 632px) {
  .header-box h1 {
    font-size: 2.7rem;
  }

  .title-box {
    border: #4577ff4f solid 1rem;
  }

  .bio h1 {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.3rem;
  }

  .review,
  .bio p,
  .flex-container li {
    font-size: 0.75rem;
  }
}

@media only screen and (max-device-width: 560px) {
  .navbar a {
    font-size: 1rem;
  }

  .bio p {
    padding: 0.5rem 2.5rem;
  }

  .bio h1 {
    margin-left: 2.3rem;
    margin-right: 2.3rem;
    font-size: 1.3rem;
  }

  td.review {
    padding: 0rem 0.3rem;
    margin: 0px;
  }
}

@media only screen and (max-device-width: 542px) {
  .bio h1 {
    margin: 0.1rem 2.3rem;
    font-size: 1.3rem;
    font-size: 1rem;
  }

  .review,
  .bio p {
    font-size: 0.6rem;
  }
}
