/* API font reference key 
? font-family: 'Montserrat', sans-serif;    [ Header Title ]
? font-family: 'Cinzel', serif;    [main paragraph usage]
? font-family: 'Raleway', sans-serif;   [ Nav-Bar]
*/

/* ? Outside stylesheet and Font API imports  */
@import url('https://fonts.googleapis.com/css?family=Cinzel:700|Montserrat:600|Raleway:500,700');

/* ! General Rulesets */

html {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./knightFight.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ! Header Rulesets */

.title-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #459fff80;
  border: #4577ff4f solid 0.75rem;
  border-radius: 20%;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.header-block {
  display: flex;
  flex-direction: column;
}

.header-box {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.header-box h1 {
  display: block;
  font-family: 'Montserrat', sans-serif;
  color: #c0c0c0;
  font-size: 6rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: #c0c0c0;
  font-size: 1.75rem;
  cursor: pointer;
}

.navbar a:hover {
  color: blue;
}
/* ! Dropdown menu */

.dropdown-menu {
  display: none;
  position: absolute;
  width: 10rem;
  background-color: #459ffff1;
  border: #1a77da solid 2px;
}
.dropdown-menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  width: 100%;
}

.dropdown-menu li {
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem;
  border: #1a77da solid 2px;
}

.dropdown-menu li:hover {
  color: blue;
}

/* ! Introduction Rulesets */
.bio {
  display: flex;
  flex-direction: column;
}

.bio h1 {
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 0rem;
  margin-left: 17rem;
  margin-right: 17rem;
  font-family: 'Montserrat', sans-serif;
  color: #c0c0c0;
  font-size: 2rem;
  text-transform: capitalize;
  border-bottom: double #c0c0c0 0.75rem;
}

.bio p {
  text-align: center;
  padding: 1rem 7rem;
  font-family: 'Cinzel', serif;
  color: #c0c0c0;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

/* ! Main Page Rulesets */

.center-table {
  margin: 3em auto;
  background-color: #4561ff50;
  border: 10px solid rgba(24, 23, 23, 0.836);
  border-radius: 5%;
  width: 100%;
}

th {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  color: #c0c0c0;
  padding: 1rem 5rem;
  border-bottom: dotted rgb(22, 21, 21) 5px;
}

td {
  width: auto;
  height: 250px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Cinzel', serif;
  font-size: 1.2rem;
  color: #c0c0c0;
  padding: 1px;
}

td p {
  border-bottom: double 8px rgb(22, 21, 21);
}

.first-row {
  padding-top: 2rem;
}

tr > td {
  padding-bottom: 3rem;
}

td.review {
  padding-left: 4rem;
  padding-right: 4rem;
}

td img {
  max-height: 100%;
  max-width: 30rem;
  border-radius: 70%;
  padding: 1rem;
}

#smaller-img {
  max-height: 100%;
  width: 13rem;
}

/* ! Landing Page Footer  */

footer {
  background-color: #459fff80;
  box-shadow: 0 50vh 0 50vh #459fff80;
  height: 8vh;
}

footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 1.2rem;
  padding-top: 0.2rem;
  color: #000000f6;
}
/* ! --------------------------------------------- */
/*               ! Media Queries                    */
/* ! --------------------------------------------- */
/* ? Galaxy S5 */
@media only screen and (max-device-width: 361px) {
  /* ! Header Rulesets */
  .title-box {
    border: #4577ff4f solid 0.4rem;
    margin: 0.5rem auto;
  }

  .header-box h1 {
    font-size: 1.5rem;
    margin: 0.7rem auto 0rem;
  }

  ul.navbar {
    padding: 0;
  }

  .navbar a {
    font-size: 0.8rem;
    margin: 0rem auto;
  }
  /* ! Dropdown menu */

  .dropdown-menu {
    width: 6.5rem;
    border: #1a77da solid 1px;
  }

  .dropdown-menu li {
    font-size: 0.7rem;
    padding: 0.1rem;
    border: #1a77da solid 1px;
  }
  /* ! Introduction Rulesets */
  .bio h1 {
    padding-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    font-size: 0.9rem;
    border-bottom: double #c0c0c0 0.3rem;
  }

  .bio p {
    padding: 0.2rem 1rem;
    font-size: 0.6rem;
  }

  /* ! Main Page Rulesets */

  .center-table {
    margin: 1em auto;
    border: 7px solid rgba(24, 23, 23, 0.836);
  }

  th {
    font-size: 1em;
    padding-left: 2.3rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: dotted rgb(22, 21, 21) 2.5px;
  }

  td {
    font-size: 0.5rem;
  }

  td p {
    border-bottom: double 5px rgb(22, 21, 21);
  }

  .first-row {
    padding-top: 0rem;
  }

  tr > td {
    padding-bottom: 1rem;
  }

  td.review {
    padding-left: 2rem;
    padding-right: 1rem;
  }

  td img {
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 0rem;
  }

  /* ! Landing Page Footer  */

  footer {
    box-shadow: 0 50vh 0 50vh #459fff80;
    height: 8vh;
  }

  .footer-text {
    font-size: 0.8rem;
  }
}
/* ---------------------------------------------------------------- */
/* ? Iphone 6/7/8  */
@media only screen and (min-width: 362px) and (max-device-width: 380px) {
  /* ! Header Rulesets */
  .title-box {
    border: #4577ff4f solid 0.4rem;
    margin: 0.5rem auto;
  }

  .header-box h1 {
    font-size: 1.9rem;
    margin: 0.7rem auto 0rem;
  }

  ul.navbar {
    padding: 0;
  }

  .navbar a {
    font-size: 0.9rem;
    margin: 0rem auto;
    padding: 0;
    margin: 0;
  }
  /* ! Dropdown menu */

  .dropdown-menu {
    width: 6.5rem;
    border: #1a77da solid 1px;
  }

  .dropdown-menu li {
    font-size: 0.7rem;
    padding: 0.15rem;
    border: #1a77da solid 1px;
  }
  /* ! Introduction Rulesets */
  .bio h1 {
    padding-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    font-size: 1.05rem;
    border-bottom: double #c0c0c0 0.3rem;
  }

  .bio p {
    padding: 0.2rem 1rem;
    font-size: 0.7rem;
  }

  /* ! Main Page Rulesets */

  .center-table {
    margin: 1em auto;
    border: 7px solid rgba(24, 23, 23, 0.836);
  }

  th {
    font-size: 1em;
    border-bottom: dotted rgb(22, 21, 21) 2.5px;
    padding-left: 2.3rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  td {
    font-size: 0.65rem;
  }

  td p {
    border-bottom: double 5px rgb(22, 21, 21);
  }

  .first-row {
    padding-top: 0rem;
  }

  tr > td {
    padding-bottom: 1rem;
  }

  td.review {
    padding-left: 2rem;
    padding-right: 1rem;
  }

  td img {
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 0rem;
  }

  /* ! Landing Page Footer  */

  footer {
    box-shadow: 0 50vh 0 50vh #459fff80;
    height: 0vh;
  }

  .footer-text {
    font-size: 0.8rem;
  }
}
/* ---------------------------------------------------------------- */
/* ? Pixel 2 */
@media only screen and (min-width: 381px) and (max-device-width: 411px) {
  /* ! Header Rulesets */
  .title-box {
    border: #4577ff4f solid 0.4rem;
    margin: 0.5rem auto;
  }

  .header-box h1 {
    font-size: 2rem;
    margin: 0.7rem auto 0rem;
  }

  ul.navbar {
    padding: 0;
  }

  .navbar a {
    font-size: 0.8rem;
    margin: 0rem auto;
  }
  /* ! Dropdown menu */

  .dropdown-menu {
    width: 6.5rem;
    border: #1a77da solid 1px;
  }

  .dropdown-menu li {
    font-size: 0.7rem;
    padding: 0.15rem;
    border: #1a77da solid 1px;
  }
  /* ! Introduction Rulesets */
  .bio h1 {
    padding-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    font-size: 1.05rem;
    border-bottom: double #c0c0c0 0.3rem;
  }

  .bio p {
    padding: 0.2rem 1rem;
    font-size: 0.7rem;
  }

  /* ! Main Page Rulesets */

  .center-table {
    margin: 1em auto;
    border: 7px solid rgba(24, 23, 23, 0.836);
  }

  th {
    font-size: 1em;
    border-bottom: dotted rgb(22, 21, 21) 2.5px;
    padding-left: 2.3rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  td {
    font-size: 0.6rem;
  }

  td p {
    border-bottom: double 5px rgb(22, 21, 21);
  }

  .first-row {
    padding-top: 0rem;
  }

  tr > td {
    padding-bottom: 1rem;
  }

  td.review {
    padding-left: 2rem;
    padding-right: 1rem;
  }

  td img {
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 0rem;
  }

  /* ! Landing Page Footer  */

  footer {
    box-shadow: 0 50vh 0 50vh #459fff80;
    height: 0vh;
  }

  .footer-text {
    font-size: 0.8rem;
  }
}
/* ----------------------------------------------------------------------- */
/* ? Pixel 2 XL */
@media only screen and (min-width: 412px) and (max-device-width: 500px) {
  /* ! Header Rulesets */
  .title-box {
    border: #4577ff4f solid 0.4rem;
    margin: 0.5rem auto;
  }

  .header-box h1 {
    font-size: 2rem;
    margin: 0.7rem auto 0rem;
  }

  ul.navbar {
    padding: 0;
  }

  .navbar a {
    font-size: 0.9rem;
    margin: 0rem auto;
  }
  /* ! Dropdown menu */

  .dropdown-menu {
    width: 6.5rem;
    border: #1a77da solid 1px;
  }

  .dropdown-menu li {
    font-size: 0.7rem;
    padding: 0.15rem;
    border: #1a77da solid 1px;
  }
  /* ! Introduction Rulesets */
  .bio h1 {
    padding-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    font-size: 1.05rem;
    border-bottom: double #c0c0c0 0.3rem;
  }

  .bio p {
    padding: 0.2rem 1rem;
    font-size: 0.7rem;
  }

  /* ! Main Page Rulesets */

  .center-table {
    margin: 1em auto;
    border: 7px solid rgba(24, 23, 23, 0.836);
  }

  th {
    font-size: 1.2em;
    border-bottom: dotted rgb(22, 21, 21) 2.5px;
    padding-left: 3rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  td {
    font-size: 0.7rem;
  }

  td p {
    border-bottom: double 5px rgb(22, 21, 21);
  }

  .first-row {
    padding-top: 0rem;
  }

  tr > td {
    padding-bottom: 1rem;
  }

  td.review {
    padding-left: 2rem;
    padding-right: 1rem;
  }

  td img {
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 0rem;
  }

  /* ! Landing Page Footer  */

  footer {
    box-shadow: 0 50vh 0 50vh #459fff80;
    height: 0vh;
  }

  .footer-text {
    font-size: 0.8rem;
  }
}
/* ----------------------------------------------------------------------- */
/* ? Filler Fix */
@media only screen and (min-width: 501px) and (max-device-width: 754px) {
  /* ! Header Rulesets */
  .title-box {
    border: #4577ff4f solid 0.4rem;
    margin: 0.5rem auto;
  }

  .header-box h1 {
    font-size: 2.35rem;
    margin: 0.7rem auto 0rem;
  }

  ul.navbar {
    padding: 0;
  }

  .navbar a {
    font-size: 1rem;
    margin: 0rem auto;
  }
  /* ! Dropdown menu */

  .dropdown-menu {
    width: 6.5rem;
    border: #1a77da solid 1px;
  }

  .dropdown-menu li {
    font-size: 0.7rem;
    padding: 0.15rem;
    border: #1a77da solid 1px;
  }
  /* ! Introduction Rulesets */
  .bio h1 {
    padding-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    font-size: 1.3rem;
    border-bottom: double #c0c0c0 0.3rem;
  }

  .bio p {
    padding: 0.2rem 1rem;
    font-size: 0.75rem;
  }

  /* ! Main Page Rulesets */

  .center-table {
    margin: 1em auto;
    border: 7px solid rgba(24, 23, 23, 0.836);
  }

  th {
    font-size: 1.5em;
    border-bottom: dotted rgb(22, 21, 21) 2.5px;
    padding-left: 3rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  td {
    font-size: 0.75rem;
  }

  td p {
    border-bottom: double 5px rgb(22, 21, 21);
  }

  .first-row {
    padding-top: 0rem;
  }

  tr > td {
    padding-bottom: 1rem;
  }

  td.review {
    padding-left: 2rem;
    padding-right: 1rem;
  }

  td img {
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: .5rem;
  }

  /* ! Landing Page Footer  */

  footer {
    box-shadow: 0 50vh 0 50vh #459fff80;
    height: 0vh;
  }

  .footer-text {
    font-size: 1rem;
  }
}

/* ----------------------------------------------------------------------- */
/* ? IPad */
@media only screen and (min-width: 755px) and (max-device-width: 960px) {
  /* ! Header Rulesets */
  .title-box {
    border: #4577ff4f solid 0.4rem;
    margin: 0.5rem auto;
  }

  .header-box h1 {
    font-size: 4rem;
    margin: 0.7rem auto 0rem;
    padding: 1rem;
  }

  ul.navbar {
    padding: 0;
  }

  .navbar a {
    font-size: 1.55rem;
    margin: 0rem auto;
  }
  /* ! Dropdown menu */

  .dropdown-menu {
    width: 11rem;
    border: #1a77da solid 1px;
  }

  .dropdown-menu li {
    font-size: 1.3rem;
    padding: 0.2rem;
    border: #1a77da solid 1px;
  }
  /* ! Introduction Rulesets */
  .bio h1 {
    padding-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    font-size: 2rem;
    border-bottom: double #c0c0c0 0.3rem;
  }

  .bio p {
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
  }

  /* ! Main Page Rulesets */

  .center-table {
    margin: 1em auto;
    border: 7px solid rgba(24, 23, 23, 0.836);
  }

  th {
    font-size: 2.2em;
    border-bottom: dotted rgb(22, 21, 21) 2.5px;
    padding-left: 3rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  td {
    font-size: 1.1rem;
  }

  td p {
    border-bottom: double 5px rgb(22, 21, 21);
  }

  .first-row {
    padding-top: 0rem;
  }

  tr > td {
    padding-bottom: 1rem;
  }

  td.review {
    padding-left: 2rem;
    padding-right: 1rem;
  }

  td img {
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 0rem;
  }

  /* ! Landing Page Footer  */

  footer {
    box-shadow: 0 50vh 0 50vh #459fff80;
    height: 0vh;
  }

  .footer-text {
    font-size: 1.2rem;
  }
}
/* ----------------------------------------------------------------------- */
/* ? IPad Pro */
@media only screen and (min-width: 961px) and (max-device-width: 1115px) {
  /* ! Header Rulesets */
  .title-box {
    border: #4577ff4f solid 0.6rem;
    margin: 0.5rem auto;
  }

  .header-box h1 {
    font-size: 5rem;
    margin: 0.7rem auto 0rem;
    padding: 1rem;
  }

  ul.navbar {
    padding: 0;
  }

  .navbar a {
    font-size: 2.1rem;
    margin: 0rem auto;
  }
  /* ! Dropdown menu */

  .dropdown-menu {
    width: 13rem;
    border: #1a77da solid 1px;
  }

  .dropdown-menu li {
    font-size: 1.5rem;
    padding: 0.4rem;
    border: #1a77da solid 1px;
  }
  /* ! Introduction Rulesets */
  .bio h1 {
    padding-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2.2rem;
    border-bottom: double #c0c0c0 0.3rem;
  }

  .bio p {
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
  }

  /* ! Main Page Rulesets */

  .center-table {
    margin: 1em auto;
    border: 7px solid rgba(24, 23, 23, 0.836);
  }

  th {
    font-size: 2.7em;
    border-bottom: dotted rgb(22, 21, 21) 2.5px;
    padding-left: 3rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  td {
    font-size: 1.3rem;
  }

  td p {
    border-bottom: double 8px rgb(22, 21, 21);
    padding: 0rem 2rem;
  }

  .first-row {
    padding-top: 0rem;
  }

  tr > td {
    padding-bottom: 1rem;
  }

  td.review {
    padding-left: 2rem;
    padding-right: 1rem;
  }

  td img {
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 0rem;
  }

  /* ! Landing Page Footer  */

  footer {
    box-shadow: 0 50vh 0 50vh #459fff80;
    height: 0vh;
  }

  .footer-text {
    font-size: 1.7rem;
  }
}
