/* API font reference key 

font-family: 'Baloo Chettan', cursive;  [ Header Title ]
font-family: 'Indie Flower', cursive;   [ Nav-Bar]

*/




/* General Rulesets */

/* * {
    border: solid red 1px !important;
} */
body {
    background-color: #aae7f0;
}

/* Header Rulesets */

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f6c8ff;
    border: #baa5ff solid 1.5rem;
}

.header-block {
    display: flex;
    align-content: center;
}

.home-header {
    display: block;
    font-family: 'Baloo Chettan', cursive;
    font-size: 4rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

.navbar li {
    display: inline-block;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    margin: 0 2rem;
}

.nav-item {
    color: black;
    padding: .25rem;
    text-decoration: none;
}
